.home_page{
  background-image: url('../img/home/home_marvelBG.jpg');
  background-attachment: fixed;
  -webkit-background-size: auto;
  background-size: cover;
  color: rgba(235, 238, 241, 0.877);
  padding: 50px 0;
}
