.main_style{
  margin: 0;
}
.hero_desc{
  /* height: 200px; */
  text-align: center;
  padding: 40px 0 !important;
  padding-left: 10px !important;
}
.hero_desc>h1{
  width: 100% !important;
}
.hero_img{
  display: block;
  height: 300px;
}
.hero_img>img{
  height: 100%;
  width: 100%;
}
.hero_dossier>h1{
text-align: center;
}
.btn_margin{
  margin: 10px auto 10px auto !important;
}